<div ng-controller='shoppingCtrl' ng-init='shipTo = true; payment = true'>
    <div class="container">
        <div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <h1 class='section-header align'>Customer Checkout</h1>
                </div>
            </div>
<!-- Bill To Info -->
<div class='row'>
  <div ng-hide='billTo' class='col-md-10 col-md-offset-1 background ridge'>
    <h1>Bill To Info</h1>
    <div class='form-group'>
        <h4>First Name</h4>
        <input type='text' ng-model='customer.name' class='form-control' placeholder='Enter your name'>
    </div>
    <div class='form-group'>
        <h4>Last Name</h4>
        <input type='text' ng-model='customer.namelast' class='form-control' placeholder='Enter your last name'>
    </div>
    <div class='form-group'>
        <h4>Company</h4>
        <input type='text' ng-model='customer.company' class='form-control' placeholder='Enter your Company Name'>
    </div>
    <div class='form-group'>
        <h4>Address</h4>
        <input type='text' ng-model='customer.address' class='form-control' placeholder='Enter your Address'>
    </div>
    <div class='form-group'>
        <h4>City</h4>
        <input type='text' ng-model='customer.city' class='form-control' placeholder='Enter your City'>
    </div>
    <div class='form-group'>
        <h4>State</h4>
        <input type='text' ng-model='customer.state' class='form-control' placeholder='Enter your State'>
    </div>
    <div class='form-group'>
        <h4>Postal Code</h4>
        <input type='text' ng-model='customer.postalcode' class='form-control' placeholder='Enter your Zipcode'>
    </div>
    <div class='form-group'>
        <h4>Country</h4>
        <input type='text' ng-model='customer.country' class='form-control' placeholder='Enter your Country'>
    </div>
    <div class='form-group'>
        <h4>Phone:</h4>
        <input type='text' ng-model='customer.phone' class='form-control' placeholder='Enter your Phone Number'>
    </div>
    <div class='form-group'>
        <h4>Email Address</h4>
        <input type='text' ng-model='customer.email' class='form-control' placeholder='Enter your email'>
    </div>
    <div class='form-group'>
        <button class='btn btn-lg btn-success' ng-click='billTo = true; shipTo = false;'>NEXT</button>
    </div>
</div>
</div> <!--close out row div -->

<!-- Ship To Info -->
  <div class='row'>
  <div ng-hide='shipTo' class='col-md-10 col-md-offset-1 background ridge'>
    <h1>Ship To Info</h1>
        <div class='form-group'>
            <h4>First Name</h4>
            <input type='text' ng-model='customer.shipping.name' class='form-control' placeholder='Enter your name'>
        </div>
        <div class='form-group'>
            <h4>Last Name</h4>
            <input type='text' ng-model='customer.shipping.lastname' class='form-control' placeholder='Enter your last name'>
        </div>
        <div class='form-group'>
            <h4>Company</h4>
            <input type='text' ng-model='customer.shipping.company' class='form-control' placeholder='Enter your Company Name'>
        </div>
        <div class='form-group'>
            <h4>Address</h4>
            <input type='text' ng-model='customer.shipping.address' class='form-control' placeholder='Enter your Address'>
        </div>
        <div class='form-group'>
            <h4>City</h4>
            <input type='text' ng-model='customer.shipping.city' class='form-control' placeholder='Enter your City'>
        </div>
        <div class='form-group'>
            <h4>State</h4>
            <input type='text' ng-model='customer.shipping.state' class='form-control' placeholder='Enter your State'>
        </div>
        <div class='form-group'>
            <h4>Postal Code</h4>
            <input type='text' ng-model='customer.shipping.postal' class='form-control' placeholder='Enter your Zipcode'>
        </div>
        <div class='form-group'>
            <h4>Country</h4>
            <input type='text' ng-model='customer.shipping.country' class='form-control' placeholder='Enter your Country'>
        </div>
        <div class='form-group'>
            <h4>Phone:</h4>
            <input type='text' ng-model='customer.shipping.phone' class='form-control' placeholder='Enter your Phone Number'>
        </div>
        <div class='form-group'>
        <h4>Email Address</h4>
        <input type='text' ng-model='customer.shipping.email' class='form-control' placeholder='Enter your eamil'>
        <br>
        <br>
        <button class='btn btn-lg btn-success' ng-click='shipTo = true; billTo = false'>Back</button>
        <button class='btn btn-lg btn-success' ng-click='shipTo = true; payment = false'>NEXT</button>
    </div>
    </div>
</div>
</div> <!--close out container div -->


<div ng-hide='payment' class='col-md-10 col-md-offset-1 background ridge bottom'>
    <h1>Payment Info</h1>
        <div class='form-group'>
            <h4>Payment Method</h4>
            <input type='text' ng-model='customer.card.cardtype' class='form-control' placeholder='Enter your card type'>
        </div>
        <div class='form-group'>
            <h4>Credit Card Number</h4>
            <input type='text' ng-model='customer.card.number' class='form-control' placeholder='Enter your credit card number'>
        </div>
        <div class='form-group'>
            <h4>Expiration Month</h4>
            <input type='text' ng-model='customer.card.month' class='form-control' placeholder='Enter the expiration month'>
        </div>
        <div class='form-group'>
            <h4>Expiration Year</h4>
            <input type='text'  ng-model='customer.card.year' class='form-control' placeholder='Enter the expiration year'>
        </div>
        <div class='form-group'>
            <h4>CVC</h4>
            <input type='text'  ng-model='customer.card.cvc' class='form-control' placeholder='Enter the cvc code'>
        </div>
        <div class='col-md-6 background'>
            <div class='form-group'>
                <button class='btn btn-lg btn-success' ng-click='shipTo = false; payment = true'>Back</button>
                <button class='btn btn-lg btn-primary' ng-click='submitOrder()'>Submit Order</button>
            </div>
        </div>
    </div>
</div>








