<div ng-controller='scrollCtrl'>

<p class='color'>This page will show all customer service stuff such a warranties, returns, shipping info and a link to email the company.</p>

<div>
  <h2 class='mainborder'>Customer Service Policies</h2>
</div>

<div class='row'>
  <div class='col-md-6'>
    <h3 ng-click="scrollTo('faq')" class='secondborder page-scroll'>Frequency Asked Questions</h3>
  </div>
  <div class='col-md-6'>
    <h3 ng-click="scrollTo('return')" class='thirdborder'>Return Policy</h3>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <h3 ng-click="scrollTo('cancel')" class='secondborder'>Cancellation Policy</h3>
  </div>
  <div class='col-md-6'>
    <h3 ng-click="scrollTo('warranty')" class='thirdborder'>Warranty</h3>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <h3 ng-click="scrollTo('privacy')" class='secondborder'>Privacy Policy</h3>
  </div>
  <div class='col-md-6'>
    <a href="mailto:delapenl@gmail.com"><h3 class='thirdborder'>Contact Us!</h3></a>

  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id='faq'>
  <p>This is the FAQ section</p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id='return'>
  <p>This is the Return section</p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id='cancel'>
  <p>This is the Cancellation section</p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id='warranty'>
  <p>This is the Warranty section</p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id='privacy'>
  <p>This is the privacy section</p>
</div>


</div>
