<p class='color'>This page will show all customer service stuff such a warranties, returns, shipping info and a link to email the company.</p>

<div>
  <h2 class='mainborder'>Customer Service Policies</h2>
</div>

<div class='row'>
  <div class='col-md-6'>
    <h3 class='secondborder'>Frequency Asked Questions</h3>
  </div>
  <div class='col-md-6'>
    <h3 class='thirdborder'>Return Policy</h3>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <h3 class='secondborder'>Cancellation Policy</h3>
  </div>
  <div class='col-md-6'>
    <h3 class='thirdborder'>Warranty</h3>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <h3 class='secondborder'>Privacy Policy</h3>
  </div>
  <div class='col-md-6'>
    <h3 class='thirdborder'>Contact Us!</h3>
  </div>
</div>
