<div>
  <h4 class='homeText'>Denver Bearings is a distributer of ball bearing casters and ball transfer systems and one of the most innovative. Unlike most of our competitors, we distribute a broad and rapidly expanding product line in the USA. Our quality is unsurpassed and we pride ourselves on our extensive inventory. Whether it's 10 ball transfer units or 10,000, our responsive staff ensures your product is on a truck the day we receive your order. Whether used in the traditional 'ball up' position for ball transfer tables or as a caster in the 'ball down' orientation for rolling applications such as retail store displays, Denver Bearings is ready with the right product for your unique need.</h4>
</div>



  <div class='row'>
    <h1 class='color align'>Products Available</h1>
    <div class='col-md-8 col-md-offset-2 display'>
        <img class='ridge bt-img' src="../img/dropin-style-bt.png">
        <img class='ridge bt-img' src="../img/flange-mounted-bt.png">
        <img class='ridge bt-img' src="../img/flangeless-bt.png">
    </div>
  </div>

  <div class='row'>
    <div class='col-md-8 col-md-offset-2 display'>
        <img class='ridge bt-img' src="../img/flyingsaucer-bt.png">
        <img class='ridge bt-img' src="../img/pipe-mounted-bt.png">
        <img class='ridge bt-img' src="../img/stud-mounted-bt.png">
      </a>
    </div>
  </div>
  <br>
  <br>

<div class='row'>
  <div class='col-lg-8'>
    <img class='height' src="../img/bt-uses.png">
  </div>
</div>


