

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Product SKU</h4>
      </div>
      <div class="modal-body">
        <p>Product info&hellip;</p>
        <img class='img' src="https://s3.amazonaws.com/ball-tranfer-photos/BT-1-1_2.JPG">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='closeModal()'>Close</button>
        <button type="button" class="btn btn-primary">Add to Cart</button>
      </div>
    </div><!-- /.modal-content -->


