<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title headerAlign">{{ selectedProduct.sku }}</h1>
  </div>


      <div class="modal-body">
        <img class='imgModal1 modalPlacementOne ridge' ng-src="{{selectedProduct.image1}}">
        <a target="_blank" href="{{selectedProduct.image2}}">
          <img class='imgModal2' ng-src="{{selectedProduct.image2}}">
        </a>
        <div class='row'>
          <div class='col-md-6 push-text'>
            <h4><strong>Type:</strong> {{selectedProduct.type}}</h4>
            <!-- <p>id: {{selectedProduct._id}}</p> -->
            <h4><strong>SKU:</strong> {{selectedProduct.sku}}</h4>
            <h4><strong>Price:</strong> {{selectedProduct.price | currency}}</h4>
          </div>
          <div class='col-md-6 push-text'>
            <h4><strong>Load Capacity:</strong> {{selectedProduct.loadCapacity}} lbs</h4>
            <h4><strong>Ball Material:</strong> {{selectedProduct.ballMaterial}}</h4>
            <h4><strong>Housing Material:</strong> {{selectedProduct.housingMaterial}}</h4>
            <h4><strong>Weight:</strong> {{selectedProduct.weight}} lbs</h4>
            <br>
            <br>
          </div>
        </div>
        <h4>{{selectedProduct.description}}</h4>
      </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click='closeModal()'>Close</button>
    <button type="button" class="btn btn-success">Add to Cart</button>
  </div>
</div><!-- /.modal-content -->
