

<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title headerAlign">{{ product.sku }}</h1>
  </div>


      <div class="modal-body">
        <img class='imgModal1 modalPlacementOne ridge' ng-src="{{product.image1}}">
        <a target="_blank" href="{{product.image2}}">
          <img class='imgModal2' ng-src="{{product.image2}}">
        </a>
        <div class='row'>
          <div class='col-md-6 push-text'>
            <h4><strong>Type:</strong> {{product.type}}</h4>
            <!-- <p>id: {{selectedProduct._id}}</p> -->
            <h4><strong>SKU:</strong> {{product.sku}}</h4>
            <h4><strong>Price:</strong> {{product.price | currency}}</h4>
          </div>
          <div class='col-md-6 push-text'>
            <h4><strong>Load Capacity:</strong> {{product.loadCapacity}} lbs</h4>
            <h4><strong>Ball Material:</strong> {{product.ballMaterial}}</h4>
            <h4><strong>Housing Material:</strong> {{product.housingMaterial}}</h4>
            <h4><strong>Weight:</strong> {{product.weight}} lbs</h4>
            <br>
            <br>
          </div>
        </div>
        <h4>{{product.description}}</h4>
      </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click='closeModal()'>Close</button>
    <button ng-controller='productCtrl' type="button" class="btn btn-success" ng-click='pushToShoppingCart(product); closeModal()'>Add to Cart</button>
  </div>
</div><!-- .modal-content
 -->
