<div ng-controller='productCtrl'>
  <h1 class='color'>Products</h1>

<div class='row push-middle'>
  <div class='col-md-8 col-md-offset-2'>
<!--   <div ng-repeat='type in types track by $index'>
    {{ type }}
  </div> -->


    <div class="btn-group" uib-dropdown is-open="status.isopentype">
      <button id="price" type="button" class="btn btn-lg btn-primary" uib-dropdown-toggle ng-disabled="disabled">Type  <span class="caret"></span></button>
        <ul ng-model='type' class="uib-dropdown-menu" aria-labelledby="type" >
          <li ng-repeat='type in types track by $index'><span ng-click="filter('type', type)">{{ type }}</span></li>
        </ul>
    </div>
    <div class="btn-group" uib-dropdown is-open="status.isopenprice">
      <button id="price" type="button" class="btn btn-lg btn-primary" uib-dropdown-toggle ng-disabled="disabled">Price  <span class="caret"></span></button>
        <ul ng-model='price' class="uib-dropdown-menu" aria-labelledby="price">
          <li ng-repeat='price in prices track by $index'><span ng-click="priceFilter(price.label)">{{ price.label }}</span></li>
<!--           <li class='headerAlign'>$0-$20</li>
          <li class="divider"></li>
          <li class='headerAlign'>$20-$40</li>
          <li class="divider"></li>
          <li class='headerAlign'>$40-$60</li>
          <li class="divider"></li>
          <li class='headerAlign'>$60-Above</li> -->
        </ul>
    </div>
    <div class="btn-group" uib-dropdown is-open="status.isopenloadCapacity">
      <button id="loadCapacity" type="button" class="btn btn-lg btn-primary" uib-dropdown-toggle ng-disabled="disabled">Load Capacity  <span class="caret"></span></button>
        <ul ng-model='loadCapacity' class="uib-dropdown-menu" aria-labelledby="loadCapacity">
          <li ng-repeat='load in loadCapacity track by $index'><span ng-click="filter('loadCapacity', load)">{{ load }}</span></li>
        </ul>
    </div>
    <div class="btn-group" uib-dropdown is-open="status.isopenballMaterial">
      <button id="ballMaterial" type="button" class="btn btn-lg btn-primary" uib-dropdown-toggle ng-disabled="disabled">Ball Material  <span class="caret"></span></button>
        <ul ng-model='ballMaterial' class="uib-dropdown-menu" aria-labelledby="ballMaterial">
          <li ng-repeat='ball in ballMaterial track by $index'><span ng-click="filter('ballMaterial', ball)">{{ ball }}</span></li>
        </ul>
    </div>
    <div class="btn-group" uib-dropdown is-open="status.isopenhousingMaterial">
      <button id="loadCapacity" type="button" class="btn btn-lg btn-primary" uib-dropdown-toggle ng-disabled="disabled">Housing Material  <span class="caret"></span></button>
        <ul ng-model='price' class="uib-dropdown-menu" aria-labelledby="housingMaterial">
          <li class='headerAlign'>Carbon Steel</li>
          <li class="divider"></li>
          <li class='headerAlign'>Nylon</li>
          <li class="divider"></li>
          <li class='headerAlign'>Stainless Steel</li>
        </ul>
    </div>

  </div>
</div>
<br>
<br>



<div class='row'>
      <div class='col-md-3 cell' ng-repeat='product in products | filter: type'>
        <img class='img' ng-src="{{product.image1}}">
        <!-- <img class='img' ng-src="{{product.image2}}"> -->
          <p class='parens'><strong>(pictures are only illustrative)</strong></p>
          <p>Type: {{product.type}}</p>
          <!-- <p>id: {{product._id}}</p> -->
          <p>SKU: {{product.sku}}</p>
          <p>Price: {{product.price | currency}}</p>
          <p>Load Capacity: {{product.loadCapacity}}</p>
          <p>Ball Material: {{product.ballMaterial}}</p>
          <p>Housing Material: {{product.housingMaterial}}</p>
          <!-- <p>Weight: {{product.weight}} lbs</p> -->
          <!-- <p>{{product.description}}</p> -->
          <div class='row button-padding'>
            <button class='btn btn-lg btn-primary' ng-click='pushToShoppingCart(product)'>Add to Cart</button>
            <button class='btn btn-lg btn-danger' ng-click='getSingleProduct(product._id); openModal()'>Details</button>
          </div>
      </div>
</div>





</div>
