<div ng-controller='registerCtrl'>

  <div class='row'>
    <div class='col-md-8'>
      <h1 class='color'>Customer Registration</h1>
    </div>
  </div>

    <div ng-show="errors.length" ng-repeat='error in errors'>
      <p class="alert alert-danger error" role="alert" id="message">{{ error }}</p>
    </div>

  <div class='row'>

    <div class='col-md-6 col-md-offset-3 background'>
      <div class='form-group'>

        <h2>Name</h2>
        <input type='text' ng-model='customername' class='form-control' placeholder='Enter your name'>
        <h2>Username</h2>
        <input type='text' ng-model='customerusername' class='form-control' placeholder='Enter your username'>
        <h2>Email</h2>
        <input type='text' ng-model='customeremail' class='form-control' placeholder='Enter your email'>
        <h2>Password</h2>
        <input type='text' ng-model='customerpassword' class='form-control' placeholder='Enter your password'>

        <br>
        <br>

        <button type='submit' class='btn btn-lg btn-primary' ng-click='register()'>Register</button>
      </div>
    </div>


  </div>


</div>

