body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(http://www.psdgraphics.com/file/silver-diamond-plate.jpg);
  background-repeat: no-repeat;
  background-size: 120%, 120%;
}

a {
  color: #00B7FF;
}

.right {
  float: right;
}

.head {
  margin-top: -55px;
}

.top-right {
  margin-top: -55px;
}

.center {
  margin-top: -45px;
}

.color {
  color: floralwhite;
}

.border {
  border: 2px solid black;
}

.ridge {
  border: 5px ridge lightblue;
}

.bt-img {
  height: 200px;
  width : 200px;
}

.height {
  height: 400px;
  margin-bottom: 50px;
}

h3 {
  width: 75%;
  margin-left: 175px;
  text-align: justify;
  background: whitesmoke;
  color: black;
}





