body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(http://www.psdgraphics.com/file/silver-diamond-plate.jpg);
  background-repeat: no-repeat;
  background-size: 120%, 120%;
}

a {
  color: #00B7FF;
}

.color {
  color: floralwhite;
}


.ridge {
  border: 5px ridge lightblue;
}

.bt-img {
  height: 200px;
  width : 200px;
}

.height {
  height: 400px;
  margin-bottom: 50px;
}

.homeText {
  width: 75%;
  margin-left: 175px;
  text-align: justify;
  background: whitesmoke;
  color: black;
}





