.cell1 {
  background-color: lightblue;
  border:2px solid black;
  padding-bottom: 16px;
}

.cell2 {
  background-color: lightblue;
  border:2px solid black;
  padding-top: 45px;
  padding-bottom: 37px;
  text-align: center;
}

.width {
  width: 20%;
}

.shopBackground {
  background-color: lightblue;
  border: 2px solid black;
  margin-top: 20px;
  width: 100%;
}

.checkout {
/*  margin-left: 1350px;
*/  margin-bottom: 20px;
}

.red {
  background: red;
  text-align: center;
}

.margin {
  margin-left: 180px;
}

.shoppingCell {
  background-color: lightblue;
  border: 2px solid black;
  width: 22%;
  padding: 1%;
}




