.cell1 {
  background-color: lightblue;
  border:2px solid black;
  padding-bottom: 15px;
}

.cell2 {
  background-color: lightblue;
  border:2px solid black;
  padding-top: 45px;
  padding-bottom: 36px;
  text-align: center;
}

.width {
  width: 20%;
}

.shopBackground {
  background-color: lightblue;
  border: 2px solid black;
  margin-left: 90px;
  margin-top: 20px;
}

.checkout {
  margin-left: 975px;
  margin-bottom: 20px;
}

.red {
  background: red;
  text-align: center;
}

.margin {
  margin-left: 180px;
}




