.cell1 {
  background-color: lightblue;
  border:2px solid black;
  padding-bottom: 133px;
}

.cell2 {
  background-color: lightblue;
  border:2px solid black;
  padding-bottom: 104px;
}

.cell3 {
  background-color: lightblue;
  border:2px solid black;
  padding-bottom: 191px;
}
